<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Stylesheet/styles.css">

  </head>
  <body>
    <div id="main">
      <h1>Redis Express server </h1>
      <p>Welcome to the server we are using redis mongo and bullmq</p>
      <ul>
        <li><b>Implementing</b></li>
        <li>Message Queue</li>
        <li>Chaching Techniques</li>
        <li>Rate limiting</li>
      </ul>
    </div>
  </body>
  <script>
    console.log(process.pid);
  </script>
</html>
